.pace .pace-progress {background: #0b8389;}
.bigIcon,.socialList li a:hover{color: #0b8389;}
.btn-new,.downloadNumber{background: #0b8389}
.btn-new:hover,.btn-new:focus{background: #0b8389}
#share{background-color: #0b8389;}

/*#partners{background-color: #0b8389;}*/
